body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Outfit', sans-serif;
}

img {
    height: 300px;
    border-radius: 4%;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 485px;
    border-radius: 4%;
    padding: 15px;
}

h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}